h1{
    color: rgb(62, 177, 114);
    background-color: rgb(35, 11, 61);
    padding: 5px;
    border: 2px solid gold;
    text-align: center;
}
h3{
    color: chocolate;
}
p{
    text-align: justify;
}
div{
    background-color: rgb(8, 230, 38);
    color: rgb(53, 52, 2);
    padding: 4px;
    border: 2px solid tomato;
}